@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.team
		[class^='col-']
			border-right: none
			&:nth-child(n+5)
				.team-item
					border-top: 1px solid $grey
			&:nth-child(-n+3)
				.team-item
					border-bottom: 1px solid $grey
			&:nth-child(2n)
				.team-item
					border-left: 1px solid $grey 
// ≥992px
+media-breakpoint-down(md)
	h1
		font-size: 40px
		line-height: 60px
		padding: 0 30px
		outline: none
	h2
		font-size: 25px
		line-height: 50px
		margin: $gutter 0

	[class^='col-']
		border: none !important
	.team-item
		border: none !important
 		border-left: 1px solid $grey 

	.testimonials
		&-slider>.testimonials-author
			span
				&:before, &:after
					width: 168/2 +px 
					background: white 
				&:before
					left: -104px
				&:after
					right: -104px
		&-companies
			margin-top: $gutter
			margin-bottom: $gutter
			img
				max-width: 80px

	.service-icon
		position: absolute
		left: -$gutter
		top: 15px
	.service-title
		display: inline-block
// ≥768px
+media-breakpoint-down(sm)

	.testimonials-slider
		padding: 0 15px
		.testimonials-text
			font-size: 14px
			margin-bottom: $gutter
	.contacts-adress
		text-align: center
// ≥576px
+media-breakpoint-down(xs)


@media screen and (max-width: 1200px)
	.team-item-discription
		width: 70%
	.contacts-adress
		span
			margin-right: 5px !important


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
